@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin.less';

@input-prefix-cls: ~'@{cls-prefix}-input-number';

.@{input-prefix-cls} {
    position: relative;
    display: inline-block;
    width: 130px;
    user-select: none;

    &-increase,
    &-decrease {
        position: absolute;
        right: 1px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 16px;
        color: var(--f-text-color-secondary);
        font-size: 13px;
        background-color: var(--f-component-bg-color);
        cursor: pointer;

        &:hover {
            z-index: 3;
            color: var(--f-primary-color);
            background-color: var(--f-hover-color-light);
            border-color: var(--f-primary-color);

            &
            ~ .@{cls-prefix}-input:not(.is-disabled)
            .@{cls-prefix}-input-inner {
                border-color: var(--f-primary-color);
            }
        }

        &.is-disabled {
            color: var(--f-disabled-color-base);
            background-color: var(--f-component-bg-color);
            border-color: var(--f-border-color-disabled);
            cursor: not-allowed;
        }
    }
    &-increase {
        top: 1px;
        border-bottom: var(--f-border-base);
        border-left: var(--f-border-base);
        border-radius: 0 var(--f-border-radius-base) 0 0;
    }

    &-decrease {
        bottom: 1px;
        border-top: var(--f-border-base);
        border-left: var(--f-border-base);
        border-radius: 0 0 var(--f-border-radius-base) 0;
    }
}
