@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin';

@cascader-prefix-cls: ~'@{cls-prefix}-cascader';
@cascader-indent: 16px;
@cascader-switcher-width: 16px;
@cascader-selected-background-color: var(--f-hover-color-light);

.@{cascader-prefix-cls} {
    .default();
    .text();
    position: relative;
    overflow: auto;
    &-node {
        position: relative;
        display: flex;
        align-items: center;
        height: @data-input-height-base;
        color: var(--f-cascader-node-content-wrapper-color);
        background-color: var(--f-cascader-node-content-wrapper-bg-color);
        cursor: pointer;
        &:hover {
            --f-cascader-node-content-wrapper-color: var(--f-primary-color);
            --f-cascader-node-content-wrapper-bg-color: @cascader-selected-background-color;
        }
        &.is-selected {
            --f-cascader-node-content-wrapper-color: var(--f-primary-color);
            --f-cascader-node-content-wrapper-bg-color: @cascader-selected-background-color;
        }
        &.is-disabled {
            --f-cascader-node-content-wrapper-color: var(--f-text-color-disabled);
            --f-cascader-node-content-wrapper-bg-color: var(--f-white);
            cursor: not-allowed;
        }
    }
    &-node-indent {
        width: @cascader-indent;
        height: 0;
    }
    &-node-switcher,
    &-node-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: @padding-xs;
    }
    &-node-switcher {
        width: @cascader-switcher-width;
        font-size: @font-size-head;
        &-icon {
            transform: rotate(-90deg);
            transition: all @animation-duration-base @ease-base-in;
            &.is-expanded {
                transform: rotate(0);
            }
        }
    }
    &-node-content {
        display: flex;
        flex-grow: 1;
        align-items: center;
        &-prefix {
            display: inline-flex;
            margin-right: @padding-xs;
        }
        &-label {
            flex-grow: 1;
        }
        &-suffix {
            display: inline-flex;
        }
    }
}
