@import '../../style/themes/index';
@import '../../style/mixins/index';
@import './mixin.less';

@scrollbar-prefix-cls: ~'@{cls-prefix}-scrollbar';
@scrollbar-track-cls: ~'@{scrollbar-prefix-cls}-track';
@scrollbar-width: 4px;
@scrollbar-bg: var(--f-scrollbar-bg-color);
@scrollbar-active-bg: var(--f-scrollbar-active-color);
@scrollbar-shadow-width: 4px;

.@{scrollbar-prefix-cls} {
    position: relative;
    height: 100%;
    overflow: hidden;
    .@{scrollbar-prefix-cls}-y-start {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: -@scrollbar-shadow-width;
        display: block;
        content: "";
        width: 100%;
        height: @scrollbar-shadow-width;
        box-shadow: 0 -1px var(--f-shadow-radius-sm) var(--f-shadow-color-sm);
    }
    .@{scrollbar-prefix-cls}-y-end {
        position: absolute;
        z-index: 1;
        left: 0;
        top: -@scrollbar-shadow-width;
        display: block;
        content: "";
        width: 100%;
        height: @scrollbar-shadow-width;
        box-shadow: 0 1px var(--f-shadow-radius-sm) var(--f-shadow-color-sm);
    }
    .@{scrollbar-prefix-cls}-x-start {
        position: absolute;
        z-index: 1;
        right: -@scrollbar-shadow-width;
        top: 0;
        display: block;
        content: "";
        width: @scrollbar-shadow-width;
        height: 100%;
        box-shadow: -1px 0px var(--f-shadow-radius-sm) var(--f-shadow-color-sm);
    }
    .@{scrollbar-prefix-cls}-x-end {
        position: absolute;
        z-index: 1;
        left: -@scrollbar-shadow-width;
        top: 0;
        display: block;
        content: "";
        height: 100%;
        width: @scrollbar-shadow-width;
        box-shadow: 1px 0px var(--f-shadow-radius-sm) var(--f-shadow-color-sm);
    }
    &-container {
        height: 100%;
        overflow: auto;
        overscroll-behavior: contain;
    }
    &-hidden-native-bar {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.@{scrollbar-track-cls} {
    position: absolute;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    border-radius: 4px;

    &.is-vertical {
        top: 2px;
        width: @scrollbar-width;
        > div {
            width: 100%;
        }
    }
    &.is-horizontal {
        left: 2px;
        height: @scrollbar-width;
        > div {
            height: 100%;
        }
    }

    &-thumb {
        position: relative;
        display: block;
        width: 0;
        height: 0;
        background-color: @scrollbar-bg;
        border-radius: var(--f-border-radius-sm);
        cursor: pointer;
        transition: @animation-duration-slow background-color;

        &:hover,
        &.is-hovering {
            background-color: @scrollbar-active-bg;
        }
    }
}

.@{scrollbar-track-cls}-fade {
    &-enter-active {
        transition: opacity @animation-duration-slow @ease-base-out;
    }

    &-leave-active {
        transition: opacity @animation-duration-fast @ease-base-out;
    }

    &-enter-from,
    &-leave-active {
        opacity: 0;
    }
}
