.DS_Store
node_modules
*.log
.cache
.rollup.cache
.temp
.rc
dist
es
lib
/icon
package-lock.json
yarn.lock
docs/.vitepress/cache
docs/.vitepress/theme/components/demoCode.json
docs/zh/components

tsconfig.tsbuildinfo
types