.radio-inner() {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 4px;
    height: 4px;
    background-color: var(--f-component-bg-color);
    border-radius: 4px;
    content: "";
}
  
