:root {
    --vp-c-brand: #5384ff;
    --vt-c-green: #5384ff;
    --vp-screen-max-width: 88%;
    --vp-layout-max-width: 1540px;
}

/* stylelint-disable-next-line selector-class-pattern */
.VPContent .VPDoc {
    &.has-aside .content-container {
        max-width: 788px;
    }

    .container .content {
        .vp-doc h3 {
            margin-bottom: 5px;
        }
        .vp-doc h4 {
            margin-top: 30px;
            margin-bottom: 5px;
        }
    }
}
