name: docs

on:
  push:
    paths:
      - 'docs/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Build project
        run: yarn && yarn docs:build

      - name: Upload COS
        uses: zkqiang/tencent-cos-action@v0.1.0
        with:
          args: upload -rs --delete -y ./docs/.vitepress/dist/ /
          secret_id: ${{ secrets.QLIN_COS_SECRET_ID }}
          secret_key: ${{ secrets.QLIN_COS_SECRET_KEY }}
          bucket: ${{ secrets.BUCKET }}
          region: ap-shanghai